# Ignore Python cache
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore virtual environments
.venv/
env/

# Ignore data files
*.csv
*.sqlite3
*.json

# Ignore models
models/
*.h5
*.pkl

# Ignore VS Code settings
.vscode/
